# Xcode
.DS_Store
build/
DerivedData/

# User-specific settings
**/*.xcodeproj/xcuserdata/
**/*.xcworkspace/xcuserdata/
*.xcuserstate
*.xcbkptlist

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Swift Package Manager
.swiftpm/
